<a [routerLink]="['/dashboard']" class="list-item" href="">
  <mat-card class="box-shadow">Dashboard</mat-card>
</a>

<a class="list-item" href="">
  <mat-card class="box-shadow">Sunday</mat-card>
</a>

<a class="list-item" href="">
  <mat-card class="box-shadow">Monday</mat-card>
</a>

<a class="list-item" href="">
  <mat-card class="box-shadow">Tuesday</mat-card>
</a>

<a class="list-item" href="">
  <mat-card class="box-shadow">Wednesday</mat-card>
</a>

<a class="list-item" href="">
  <mat-card class="box-shadow">Thursday</mat-card>
</a>

<a class="list-item" href="">
  <mat-card class="box-shadow">Friday</mat-card>
</a>

<a class="list-item" href="">
  <mat-card class="box-shadow">Saturday</mat-card>
</a>




