// color for temperature
$warm-background: #ff3d00;
$cold-background: #00b0ff;

// mark place color
$visited-country: #bdbdbd;
$want-visit-country: #e040fb;

// other
$foreground: #fff;
$text-color-black: #000;

// palettes
$palette-primary: #303F9F;
$background-section: #e7e9ea;
